<script>
function getIP4(json) {
   if (json) {
   	EIPL=json;
   }
   if (EIPL.ipType === 'Business' || EIPL.ipType === 'Education') {
   	if (typeof ga === 'function' && typeof ga.getAll === 'function') {
		var org=''+EIPL.org;
                if (EIPL.businessName) {
                	org=''+EIPL.businessName;
			if (EIPL.businessWebsite) {
				org+=' - '+EIPL.businessWebsite;
			}
		}
		ga(ga.getAll()[0].get('name')+'.send', {
		  hitType: 'event',
		  eventCategory: 'eXTReMe-IP-Lookup.com',
		  eventAction: EIPL.ipType, // sends Business, Education as type of visitor
		  eventLabel: org, // sends the Business/Education name and if available the domain of the Business/Education
		  nonInteraction: true
		});
	}
	else {
		setTimeout(function() {getIP4();}, 200);
	}
   }
 }
</script>
<script src="//extreme-ip-lookup.com/json/?callback=getIP4&key=Qh4kXsQKlwy0CoZW5pRg" async defer></script>